body {
background-color: rgb(238, 151, 202);
}
.error{
    border: 2px solid red;;
}
.success {
    border: 2px solid green;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-left: 8px;
}

.otsikko {
    padding: 20px;
    font-family: cursive;
    color: rgb(126, 2, 89)
}